#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh + 20px);
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7c7ecf185580241.67dcb2b04a1c8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Lo manda al fondo */
}

.contenido {
  position: relative;
  z-index: 1;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media print {

  /* --- CONFIGURACIÓN DE PÁGINA --- */
  @page {
    size: auto;               /* Ajusta al tamaño del contenido */
    margin: 0;                /* Sin márgenes */
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* --- OCULTAR TODO MENOS EL TICKET --- */
  body * {
    visibility: hidden !important;
  }

  #ticket,
  #ticket * {
    visibility: visible !important;
  }

  #ticket {
    position: absolute;
    top: 0;
    left: 5px;
    width: 58mm;               /* Tamaño típico del rollo térmico */
    padding: 0;
  }

  /* --- MÁXIMA CALIDAD DE TEXTO --- */
  #ticket * {
    font-family: "Courier New", monospace !important; /* Texto 100% nítido */
    color: #000 !important;                           /* Negro verdadero */

    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;

    /* Forzar sin anti-aliasing (evita punticos) */
    -webkit-font-smoothing: none !important;
    font-smooth: never !important;

    /* Renderizar el texto como vectores nítidos */
    text-rendering: geometricPrecision !important;

    /* Evita píxeles feos */
    image-rendering: pixelated !important;

    line-height: 1.2 !important; /* Para que no se vea aplastado */
    font-size: 22px !important;  /* Óptimo para impresoras térmicas */
  }
}
